# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env.test

keys/
keys/*


# Stores VSCode versions used for testing VSCode extensions
.vscode-test
